{% extends 'base.html' %}
{% block title %}Common Words{% endblock %}
{% block content %}
    <div class="col-xs-1"></div>

    <div class="col-xs-8">
        <h3>Below are the 20 most mentioned words:</h3>
        <br/><br/>
        
        {% for word in common_words %}
            <strong>Word:</strong> {{ word.0 }} &nbsp; 
            <strong>Times mentioned: </strong> {{ word.1 }}
            <br/><br/>
        {% endfor %}
    </div>
{% endblock %}