{% extends 'base.html' %}
{% block title %}Named Entities{% endblock %}
{% block content %}
    <div class="col-xs-1"></div>

    <div class="col-xs-8">
        <h3>Below are indentified Named Entities along with the paragraph in which they were identified.</h3>
        <br/><br/>

        {% for paragraph in data %}
            <strong>Named Entities:</strong>
            <br/>

            {% for entity in paragraph.named_entities %}
                {{ entity }} &nbsp;
            {% endfor %}

            <br/><br/>
            <strong>Paragraph Text:</strong>
            <br/>
            {{ paragraph.paragraph_text}}
            <br/><br/>
        {% endfor %}
    </div>
{% endblock %}